<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Example inline </title>
</head>
<body>
   <div>
       <h1>内联</h1>
       <div th:inline="text" >
           <p>Hello, [[${userName}]] !</p>
           <br/>
       </div>
   </div>

   <div>
       <h1>不使⽤用内联</h1>
       <!--/*@thymesVar id="userName" type=""*/-->
       <p th:text="'Hello,'+${userName} + '!'"></p>
       <br/>
   </div>

   <script th:inline="javascript">
       var name = [[${userName}]] + ', Sebastian';
       alert(name);
   </script>

</body>
</html>